body,html {
    width: 100%;
    height: 100%;
   background-image: linear-gradient( 43deg , #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.header {
 color: red;
}
.table-striped {
  margin: auto;
  
}
.container {
    text-align: center;
}
 tr:hover{
  background-color:olive;
  cursor: pointer;
}
 td {
     color:brown ;
 }