html {
     height: 100%;
     width: 100%;
    background-image: url("images/picturefashion.jpg");
}
body {
    height:100%;
    width: 100%; 
    min-height: 20rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin:auto;
    overflow: hidden;
}
header {
   

    border-radius: 0.5rem;
    width: 100%;
    flex-basis: 12rem ;
    background: rgba(255,73,36,0.83);
    text-align: center;
    position: relative;
    margin-top: 10rem;
}
.logo {
    border-radius: 50%;
    position: relative;
    top: 4rem;
    width: 100px;
    
}
.order {
    flex : 1;
   background: white;
   margin: 0;
   padding: 20px;
   border-bottom-right-radius: 0.5rem;
   border-bottom-left-radius: 0.5rem;
   
}
h1 {
    margin:0;
    text-align: center;
    margin-top: 50px;
    
}
.check-out{
    background: red;
    border-radius: 0.5rem;
    width: 100%;
    height:50px;
    font-size: 30px;
    
}
.container {
    width: 65;
    margin: auto;
    margin-top: -20px;
}
.firstSpan{
    width: 200px;
}
.tong {
   color: red;
   text-align: right;
}
.kh {
    margin-top: 20px;
}
.check-out:hover {
    color: white;
}
.gia {
    margin-left: -31px;
}
.giay {
    margin-right: 30px;
}
.giay2 {
    margin-right: 30px;
}

